@use "../utils/" as u;

.header {
  display: flex;
  align-items: center;
  margin-inline: u.rem(24);
  padding-block-start: u.rem(24);

  @include u.breakpoint(medium) {
    padding-block-start: u.rem(58);
    margin-inline: u.rem(40);
  }

  &__logo {
    margin-inline-end: auto;
  }

  &__toggle {
    margin-inline-end: u.rem(12);

    @include u.breakpoint(medium) {
      margin-inline-end: u.rem(20);
    }
  }

  &__select {
    margin-inline-end: u.rem(16);

    @include u.breakpoint(medium) {
      margin-inline-end: u.rem(26);
    }
  }
}

.light {
  background-color: var(--white);
  min-height: 100vh;
}

.dark {
  background-color: var(--vampire-black);
  min-height: 100vh;

  .header__moon {
    filter: invert(38%) sepia(72%) saturate(4592%) hue-rotate(257deg)
      brightness(96%) contrast(93%);
  }
}
